@tailwind base;
@tailwind components;
@tailwind utilities;

.page-content {
  padding-left: 20%;
  padding-right: 20%;
  padding-top: 20vh;
}

@media (max-width: 600px) {
  .page-content {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20vh;
  }  
}