@tailwind base;
@tailwind components;
@tailwind utilities;

.page-content {
  padding-left: 18%;
  padding-right: 18%;
  padding-top: 18vh;
}

@media (max-width: 600px) {
  .page-content {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 20vh;
  }  
}